<div class="container container-margin">
    <div class="row">
        <div class="col-4">&nbsp;</div>
        <div class="col-4 d-flex justify-content-center">
            <h3>Registration</h3>
        </div>
        <div class="col-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-4">&nbsp;</div>
        <div class="col-4">
            <form>
                <mat-form-field appearance="outline" class="form-width">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter Username" autocomplete="username">
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-width">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Enter First Name">
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter Last Name">
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter Password" type="password" autocomplete="current-password">
                </mat-form-field>
                <button mat-raised-button color="primary"
                        class="form-width" type="submit">
                    Register
                </button>
            </form>
        </div>
        <div class="col-4">&nbsp;</div>
    </div>
    <div class="row mt-2">
        <div class="col-4">&nbsp;</div>
        <div class="col-4 d-flex justify-content-center">
            <a mat-button (click)="handleLoginRoute()">Go back to Login!</a>
        </div>
        <div class="col-4">&nbsp;</div>
    </div>
</div>
