<div class="container" class="container-margin">
    <div class="row">
        <div class="col-4">&nbsp;</div>
        <div class="col-4">
            <mat-form-field appearance="outline" floatLabel="always" class="form-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter Username">
            </mat-form-field>
        </div>
        <div class="col-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-4">&nbsp;</div>
        <div class="col-4">
            <mat-form-field appearance="outline" floatLabel="always" class="form-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Password">
            </mat-form-field>
        </div>
        <div class="col-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-4">&nbsp;</div>
        <div class="col-4">
            <button mat-raised-button color="primary" class="form-width" (click)="handleLogin()">
                Login
            </button>
        </div>
        <div class="col-4">&nbsp;</div>
    </div>
</div>
