<div class="container mt-5">
    <div class="row my-5">
        <div class="col-12 text">
            <h1 class="mat-h1">Token:</h1>
            <span class="body-1">{{tokenDetails ? tokenDetails.authToken : ''}}</span>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text">
            <h1 class="mat-h1">Expires:</h1>
            <span class="body-1">{{tokenDetails ? tokenDetails.expiresAt : ''}}</span>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text">
            <h1 class="mat-h1">Refresh Token:</h1>
            <span class="body-1">{{tokenDetails ? tokenDetails.refreshToken : ''}}</span>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text">
            <h1 class="mat-h1">Username:</h1>
            <span class="body-1">{{tokenDetails ? tokenDetails.userName : ''}}</span>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <button mat-raised-button color="primary" (click)="handleLogout()">
                Logout
            </button>
        </div>
    </div>

</div>
