<div class="container mt-5">
    <div class="row my-5">
        <div class="col-12 text">
            <h1 class="mat-h1">Token:</h1>
            <span class="body-1">{{tokenDetails ? tokenDetails.authToken : ''}}</span>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text">
            <h1 class="mat-h1">Expires:</h1>
            <span class="body-1">{{tokenDetails ? tokenDetails.expiresAt : ''}}</span>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text">
            <h1 class="mat-h1">Refresh Token:</h1>
            <span class="body-1">{{tokenDetails ? tokenDetails.refreshToken : ''}}</span>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 text">
            <h1 class="mat-h1">Username:</h1>
            <span class="body-1">{{tokenDetails ? tokenDetails.userName : ''}}</span>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <button mat-raised-button color="primary" (click)="handleLogout()">
                Logout
            </button>
        </div>
    </div>
    <div class="row">
        <h3>Change password</h3>
    </div>
    <div class="row">
        <div class="col-my-5">
            <mat-form-field class="example-full-width">
                <mat-label>Old Password</mat-label>
                <input matInput placeholder="Old Password" [(ngModel)]="oldPw" type="password">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-my-5">
            <mat-form-field class="example-full-width">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password" [(ngModel)]="newPw" type="password">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-my-5">
            <mat-form-field class="example-full-width">
                <mat-label>Repeat New Password</mat-label>
                <input matInput placeholder="Repeat New Password" [(ngModel)]="newPwWdh" type="password">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-my-5">
            <button mat-raised-button color="primary"
                    class="form-width" (click)="submitNewPassword()">
                Kennwort ändern
            </button>
        </div>
    </div>


</div>
